/* GENERAL LAYOUT. */

.content {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

/* TOOLBAR STYLING. */

.toolbar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.toolbar-item {

}

/* CANVAS STYLING. */

.canvas-container {
    max-height: 540px;
    aspect-ratio: 16 / 9;
}

.canvas-container > canvas {
    width: 100%;
    height: 100%;
}
